
	.table-wrapper{
        background: #FAFAFF;
        padding: 20px 25px;
        margin: 30px 0;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(1,0,0,.07);
    }
    .wrapper {
        background: #FAFAFF;
        padding: 20px 25px;
        margin: 30px 0;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(1,0,0,.07);
    }
	.table-title {
		padding-bottom: 15px;
		background: #214b74;
		color: #FAFAFF;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.input-group{
        border-radius: 3px;
    }